.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 40px;
  background-color: #f0f2f5;
}
.searchWrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  width: auto;
  min-width: 32px;
}
.searchBar {
  display: flex;
  align-items: center;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  background: #fff;
  border: 1px solid #3d61a9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.searchBar.focused {
  width: 341px;
}
.searchBar.collapsed {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
}
.searchBar.collapsed .content {
  display: none;
}
.searchBar.collapsed:hover {
  box-shadow: 0 4px 12px rgba(91, 126, 219, 0.25);
}
.searchBar .searchIcon {
  font-size: 16px;
  color: #3d61a9;
  margin-right: 8px;
}
.searchBar input {
  flex: 1;
  height: 100%;
  padding: 0;
  font-size: 14px;
  color: #333;
  background: transparent;
  border: none;
  outline: none;
}
.searchBar input::placeholder {
  color: #3d61a9;
  opacity: 0.8;
}
.searchBar .collapseIcon {
  margin-left: 8px;
  font-size: 16px;
  color: #3d61a9;
  cursor: pointer;
  transition: transform 0.3s;
}
.searchBar .collapseIcon:hover {
  transform: scale(1.1);
}
.popupList {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 0;
  width: 342px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08),
    0px -1px 10px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  z-index: 10;
  animation: slideUp 0.2s ease-out;
  padding: 4px;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.listItem {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  cursor: pointer;
  transition: background 0.2s;
}
.listItem:hover {
  background-color: #f5f6f7;
}
.listItem:hover .fundCode,
.listItem:hover .fundName {
  color: #3d61a9;
}
.listItem .reitsTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  padding: 0 4px;
  margin-right: 8px;
  font-size: 12px;
  color: #db5656;
  line-height: 1;
  border: 1px solid #db5656;
  border-radius: 2px;
}
.listItem .fundCode {
  margin-right: 16px;
  font-size: 14px;
  color: #2f394d;
  font-weight: 500;
}
.listItem .fundName {
  flex: 1;
  font-size: 14px;
  color: #2f394d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
