.leadTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 0 8px;
  border-radius: 4px;
  background: #fff;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  white-space: nowrap;
  border: 1px solid #a06637;
  color: #a06637;
}
.marginTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 0 8px;
  border-radius: 4px;
  background: #fff;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  white-space: nowrap;
  border: 1px solid #2c66d5;
  color: #2c66d5;
}
.lowFeeTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 0 8px;
  border-radius: 4px;
  background: #fff;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  white-space: nowrap;
  border: 1px solid #008c54;
  color: #008c54;
}
.top20Tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 0 8px;
  border-radius: 4px;
  background: #fff;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  white-space: nowrap;
  border: 1px solid #005e91;
  color: #005e91;
}
.featureTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 0 8px;
  border-radius: 4px;
  background: #fff;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  white-space: nowrap;
  border: 1px solid #bf0008;
  color: #bf0008;
}
